@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

h1 {
    color:blueviolet;
    text-align: justify;
    font-family: 'Abril Fatface', cursive;
}

body {
    color:#2a6f97;
    background-color:black;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color:rgba(116, 7, 65, 0.863);
    text-align: justify;
    text-shadow: 5px 10px 50px #dd35d5;
}

strong{
    color: cornflowerblue;
}

#paragrafo-A {
    color: aqua;
    text-align: justify;
}

.diferentoes{
    text-align: right;
}

